//Primary Colors
$color__yellow: #FFDD00
$color__white: #FFFFFF
$color__black: #231F20

//Secondary colors
$color__green: #73A434
$color__orange: #F7931E
$color__purple: #662D91

//Grey Shades
$color__grey--lite: #EEE
$color__grey: #808080
$color__grey--dark: #999999

//Brown Shades
$color__brown--lite: #E6D9CF
$color__brown: #A67C52
$color__brown--dark: #42210B