$fonts: "PFDinText-Regular", Helvetica, Arial, sans-serif
$fonts-bold: "PFDinText-Bold", Helvetica, Arial, sans-serif
$fonts-headers: "DINRoundPro-Light", sans-serif
$fonts-headers--bold: "DINRoundPro-Bold", Helvetica, Arial, sans-serif
$fonts__base: 100%
$fonts__line-height: 1.3

//Sizes in px
$font-size__base:   16
$font-size__huge:   $font-size__base*4.5 //72
$font-size__giga:   $font-size__base*3 //48
$font-size__mega:   $font-size__base*2.25 //36
$font-size__bigger: $font-size__base*1.5 //24
$font-size__big:    $font-size__base*1.3125 //21
$font-size__base:   $font-size__base*1 //16
$font-size__small:  $font-size__base*0.875 //14
$font-size__tiny:  $font-size__base*0.6875 //12