.l-grid
  .l-grid__item.desk--one-quarter>
    = render :partial => "users/shared/user_preferences_menu"
  .l-grid__item.desk--three-quarters>
    %h1.o-headline= t('views.users.billing_information')
    = render :partial => "users/billings/form"
