// The site's typography
//
// .copy  - Body copy
// .h1 - Headings 1
// .h2 - Headings 2
// .h3 - Headings 3
// .h4 - Headings 4
// .h5 - Headings 5
// .h6 - Headings 6
//
// Styleguide Typography.
body,
.copy
  font: normal #{$fonts__base}/#{$fonts__line-height} $fonts
  font-weight: 400
  
.h1,
.h2,
.h3
  font-family: $fonts-headers
  font-weight: 100
.h1
  font-size: em($font-size__huge)
  line-height: 1em
.h2
  font-size: em($font-size__mega)
.h3
  font-size: em($font-size__bigger)
.h4
  font-size: em($font-size__big)

table
  font-family: Monaco, Consolas, "Lucida Console", monospace


//Bariol
+font-face("Bariol", "/assets/fonts/bariol/Bariol", $asset-pipeline: true)
+font-face("Bariol Italic", "/assets/fonts/bariol/Bariol-Italic", $asset-pipeline: true)

//Yummicon
+font-face("Yummicon", "/assets/fonts/yummicon/Yummicon", $asset-pipeline: true)

//Fira mono
// +font-face("Fira Mono", "/assets/fonts/firamono/FiraMono-Regular", $asset-pipeline: true)
// +font-face("Fira Mono Bold", "/assets/fonts/firamono/FiraMono-Bold", $asset-pipeline: true)