// The site's typography
//
// .copy  - Body copy
// .h1 - Headings 1
// .h2 - Headings 2
// .h3 - Headings 3
// .h4 - Headings 4
// .h5 - Headings 5
// .h6 - Headings 6
//
// Styleguide Typography.
body,
.copy
  font-family: $fonts__regular
  font-size: #{$font-size__base}px
  font-weight: normal
  line-height: #{$fonts__line-height}em

.h1,
.h2,
.h3
  font-family: $fonts__header--bold
  font-weight: normal
.h1
  font-size: em($font-size__giga)
  line-height: 1em
.h2
  font-size: em($font-size__mega)
.h3
  font-size: em($font-size__bigger)
.h4
  font-size: em($font-size__big)

b, strong
  font-family: $fonts__bold


//Load the webfont files
+font-face("DINRoundPro-Light", "/assets/din-round/din-round-light")
+font-face("DINRoundPro-Bold", "/assets/din-round/din-round-bold")
+font-face("PFDinText-Regular", "/assets/din/din-regular")
+font-face("PFDinText-Bold", "/assets/din/din-bold")
+font-face("PFDinText-Light", "/assets/din/din-light")
+font-face("Icons", "/assets/elusive/elusive")