<h2>Thank you for your bidding on: <%= @auction.product.name %></h2>


<p>
	You are now holding the top bidding on this product.
	Your Bidding: <%= @auction.top_bidding %>
</p>

<p>We will notify you if anything changes.</p>
<p>Otherwise you will take the product by the: <%= @auction.ending_at %></p>


<%= link_to "Withdraw this bidding", auction_bidding_path(:auction_id => @auction.id, :id => @bidding.id), method: :delete %>
