// Grid wrapper class for the csswizardry grid. All the rest of the classes needed for the grid system remain as they come from the csswizardry grid. (one-third, palm-two-thirds, pull-one-fourth etc...)
//
// .l-grid             - Default grid. 20px gutter.
// .l-grid--big-gutter - Bigger gutter: 60px
// .l-grid--no-gutter  - No gutter in between.
// .l-grid--right      - Align to right.
// .l-grid--center     - Align to center.
// .l-grid--middle     - Vertically align columns to middle.
// .l-grid--bottom     - Vertically align columns to bottom.
//
// Styleguide Grid.
.l-grid
  @extend .grid

.l-grid--small-gutter
  margin-left: -10px
  .l-grid__item
    padding-left: 10px

.l-grid--big-gutter
  margin-left: -60px
  .l-grid__item
    padding-left: 60px

.l-grid--no-gutter
  @extend .grid--full

.l-grid--right
  @extend .grid--right

.l-grid--center
  @extend .grid--center

.l-grid--middle
  @extend .grid--middle

.l-grid--bottom
  @extend .grid--bottom

.l-grid__item
  @extend .grid__item
  margin-bottom: em(10)
  +respond-min($bp__lap)
    margin-bottom: 0