//Header specific layout styles
.l-header

.l-header__logo
  text-align: center

.l-header__search
  .o-button
    float: right

.l-header__search__input-container
  overflow: hidden
  padding-bottom: 1px //hidden border fix
  padding-right: em(2)

.l-header__links
  margin-top: em(10)
  +respond-min($bp__desk)
    margin-top: em(0)