= link_to t('user.update_personal_profile'), user_prefernces_path
|
= link_to t('user.update_billing_information'), preferences_billing_user_path(current_user)
|
= link_to t('user.update_shipping_information'), preferences_shipping_user_path(current_user)

%hr