- modifier ||= ""

.o-logo{ class: modifier }
  = link_to home_url do
    %h1.o-logo__image
      = image_tag "/assets/logo__image.png", alt: "Basketo", class: "o-logo__image__icon"
      = image_tag "/assets/logo__basketo.png", alt: "Basketo", class: "o-logo__image__name"
  %h2.o-logo__tagline="The Fruit & Vegetables B2B Marketplace, Reinvented."