// A simple button
//
// .o-button         - Default variation
// .o-button--block  - Display block variation. Smaller h-padding (10px)
// .o-button--green  - Green background
// .o-button--purple - Purple background
// .o-button--orange - Orange background
// .o-button--square - Square size
//
// Styleguide Button.

.o-button
  color: $color__white
  cursor: pointer
  border: 0
  display: inline-block
  font-family: $fonts__light
  font-size: em($font-size__big)
  height: em($input__height, $font-size__big)
  line-height: em($input__height, $font-size__big)
  padding: 0 em(40, $font-size__big)
  text-align: center
  text-decoration: none
  +transition(background-color $animation--duration)
  &:active,
  &:visited,
  &:hover
    color: $color__white
  &:hover
    text-decoration: none

.o-button--green
  background: $color__green
  &:hover
    background: lighten($color__green, 10%)

.o-button--purple
  background: $color__purple
  &:hover
    background: lighten($color__purple, 10%)

.o-button--orange
  background: $color__orange
  &:hover
    background: lighten($color__orange, 10%)

.o-button--square
  height: em($input__height)
  font-size: #{$font-size__base}px
  padding: 0
  width: em($input__height)
  
.o-button--block
  display: block
  padding: 0 em(10, $font-size__big)