// A simple button
//
// .o-button            - Default variation
// .o-button--block     - Block, full width variation
// .o-button--wide      - Double horizontal padding
// .o-button--small     - Small variation of the button
// .o-button--wireframe - Ghost button, shows up on landing page.
//
// Styleguide Button.

.o-button
  background: $color__green
  color: $color__white
  cursor: pointer
  +box-sizing(border-box)
  border: 0
  display: inline-block
  font-family: $fonts
  font-size: em($font-size__base)
  height: em($input__height__mobile, $font-size__base)
  line-height: em($input__height__mobile, $font-size__base)
  padding: 0 em(40, $font-size__base)
  text-align: center
  text-decoration: none
  +transition(background-color $animation--duration)
  width: 100%
  .o-input + &
    margin-top: em(10)
  &:hover
    background: lighten($color__green, 10%)
  +respond-min($bp__tablet--portrait__width)
    height: em($input__height, $font-size__base)
    line-height: em($input__height, $font-size__base)
    margin-top: 0
    width: auto

.o-button--small
  padding: 0 em(20, $font-size__base)
  +respond-min($bp__tablet--portrait__width)
    height: em($input__height__mobile, $font-size__base)
    line-height: em($input__height__mobile, $font-size__base)

.o-button--block
  display: block

.o-button--wide
  padding-left: em(80, $font-size__base)
  padding-right: em(80, $font-size__base)

.o-button--wireframe
  background-color: transparent
  border-radius: em(4, $font-size__tiny)
  border: em(1, $font-size__tiny) solid $color__green
  color: $color__green
  font-size: em($font-size__tiny)
  font-family: "Fira Mono Bold", sans-serif
  +transition(background-color $animation--duration)
  text-transform: uppercase
  &:hover
    background-color: $color__green
    color: $color__white