// Baseline object for all input fields
//
// .o-input       - Default variation
// .o-input--tall - Taller size (40px)
//
// Styleguide Input.
.o-input
  box-shadow: none
  border: 1px solid $color__grey--lite
  color: $color__black
  font-family: $fonts__regular
  font-size: em($font-size__big)
  height: em($input__height, $font-size__big)
  outline: none
  padding: 0 em(10, $font-size__big)
  +transition(border-color $animation--duration)
  width: 100%
  &:hover,
  &:focus
    border-color: $color__grey

textarea.o-input
  min-height: em(60)
  padding-bottom: em(5)
  padding-top: em(5)

.o-input--tall
  +respond-min($bp__lap)
    height: em($input__height--big, $font-size__big)

.o-input--green-border
  border-color: $color__green