// Baseline object for all input fields
//
// .o-input             - Default variation
//
// Styleguide Input.
.o-input
  box-shadow: none
  border: 1px solid $color__grey--lite
  color: $color__black
  font-family: $fonts__regular
  font-size: em($font-size__big)
  height: #{$input__height}px
  outline: none
  padding: 0 em(10)
  +transition(border-color $animation--duration)
  width: 100%
  &:hover,
  &:focus
    border-color: $color__grey