// Basic icon font.
//
// .o-icon             - Default. Defines only sizing attributes.
// .o-icon--brown      - Brown color.
// .o-icon--brown-dark - Dark Brown color.
// .o-icon--white      - White color.
// 
//
// Styleguide Icons.
.o-icon
  display: inline-block
  height: 1.3em
  line-height: 1.3em
  vertical-align: middle
  width: 1.3em

.o-icon--brown
  fill: $color__brown
  stroke: $color__brown

.o-icon--brown-dark
  fill: $color__brown--dark

.o-icon--white
  fill: $color__white