.m-image-gallery

.m-image-gallery__main

.m-image-gallery__thumbnails
  text-align: center

.m-image-gallery__thumbnail
  border: em(4) solid transparent
  cursor: pointer
  display: inline-block
  > img
    display: block
    margin: 0 auto
  &.is-active
    border-color: $color__yellow
