.m-product

.m-product__supplier
  color: $color__orange
  margin-top: em(5)

.m-product__title-link
  display: block
  margin-bottom: em(10)
  width: 100%
  &:hover
    text-decoration: none

.m-product__button
  margin-bottom: em(10)