.m-product
  +respond-max($bp__lap)
    margin-bottom: em(20)

.m-product--compact
  .o-headline
    border-top: 0

.m-product__supplier
  color: $color__orange
  margin-top: em(5)
  .m-product--compact &
    display: none

.m-product__image
  > img
    display: block
    width: 100%

.m-product__title-link
  display: block
  margin-bottom: em(10)
  width: 100%
  &:hover
    text-decoration: none

.m-product__button
  margin-top: em(10)

.m-product__countdown
  background-color: $color__yellow
  display: block
  line-height: em($input__height)
  > .js-countdown-timer-text
    display: inline-block
    color: $color__black
    text-decoration: none
  &:hover
    background: lighten($color__yellow, 10%)

.m-product__countdown__icon
  background-color: $color__brown
  display: inline-block
  margin-right: em(15)
  padding-left: em(10)
  padding-right: em(5)
  position: relative
  > .o-icon
    height: 16px
    width: 16px
  &:after
    bottom: 0
    content: ""
    display: inline-block
    position: absolute
    border-top: 30px solid transparent
    border-bottom: 0px solid transparent
    border-left: 15px solid transparent
    border-left-color: $color__brown
    right: -15px