.m-product
  +respond-max($bp__lap)
    margin-bottom: em(20)

.m-product--compact
  .o-headline
    border-top: 0

.m-product__supplier
  color: $color__orange
  margin-top: em(5)
  .m-product--compact &
    display: none

.m-product__image
  > img
    width: 100%

.m-product__title-link
  display: block
  margin-bottom: em(10)
  width: 100%
  &:hover
    text-decoration: none

.m-product__button
  margin-bottom: em(10)