.m-ratings

.m-ratings__star
  color: $color__grey--lite
  display: inline-block
  vertical-align: middle
  .m-ratings--big &
    font-size: em($font-size__bigger)

.m-ratings__star--active
  color: $color__purple
  .m-ratings--green &
    color: $color__green