.m-social-links
  .m-social-links__label= "we are social"
  .m-social-links__links
    - ["twitter", "linkedin", "facebook", "google-plus"].each do |social|
      = link_to "https://twitter.com/basketo_", class: "m-social-links__link m-social-links__link--#{social}" do
        = render "partials/objects/o_icon", icon: social, modifier: "o-icon--white"