- modifier ||= ""

.type-block{ class: modifier }
  - if modifier == "copy"
    New meets old meets technic, <b>FF Mark</b> is not an average geometric sans. Designed with <a href="/" class="link">versatility in mind</a>, it breaks tradition with its family of 10 weights ranging from <a href="/" class="link--grey">Hairline to Black</a>, with the extreme weights “engineered” to shine bright in large sizes and middle weights optimized for body copy.
  - else
    A new geometric sans